{% extends 'foods/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'foods/recipe_detail.css' %}">
    
{% endblock css %}
    

{% block body %}
    <div class="view">
        <div class="detail">
            <a href="{% url 'recipes' %}"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
            <div class="heading">
                <h1>{{ recipe_detail.title }}</h1>
                
                {% if user.is_authenticated %}
                    {% if user.id == recipe_detail.user.id %}
                    <div class="links">
                    
                        <a href="{% url 'recipes-edit' recipe_detail.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'recipes-delete' recipe_detail.id %}"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                    {% endif %}
        
                {% endif %}
                    
                
        </div>
            <p>by <span>{{ recipe_detail.user.first_name }}</span></p>
            <div class="explanation">
                <h3>Ingredients</h3>
                <p>{{ recipe_detail.ingredients }}</p>
        
                <h3 class="prepare">How to Prepare</h3>
                <p>{{ recipe_detail.description }}</p>
            </div>

        </div>
        <div class="image">
            <img src="{{ recipe_detail.pic_file.url }}" alt="{{ recipe_detail.title }}.jpg">
        </div>
    </div>
{% endblock body %}
    
